
<link rel="stylesheet" type="text/css" href="style.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<div class="detailBox">
    <div class="titleBox">
      <label>Question Details</label>
    </div>

    <div class="commentBox pull-right">

        <div class="jumbotron">
        <div class="container">
         <%= render 'layouts/user', :@user => User.where(:id => @question.user_id).first %>
        <p class="taskDescription"> <%= link_to @question.body, show_question_path('question_id': @question.id) %></p>
         <% @tags.each do |tag| %>
            <span class="tag label label-primary post-taglist">
          
           
              <%= link_to tag["body"], search_path('tag': tag["body"]) ,{style: "color:white"} %><span data-role="remove">
            </span>
            </span>
       <% end %>
       </br>
        <span class="date sub-text"><%= @question["updated_at"] %></span>

        </div>
        </div>
    </div>
    

<script type="text/javascript">
  var url = 'https://api.blocktrail.com/v1/btc/address/1qMBuZnrmGoAc2MWyTnSgoLuWReDHNYyF/transactions?api_key=1872871da8be748b0bb57c57c77d7dd2282105d2';

  function req(){
        $.getJSON(url, function (json) {
        var a = json.data[0].hash;
    });
    }

      function sendRequest(){
      document.getElementById("view_transaction").disabled=false;
      setInterval(req, 300000);
    }

    </script>
    <div class="actionBox">
            <% @answers.each do |answer| %>
            <li>
                <div class="container pull-left">
                <div class="commenterImage">
                   <%= render 'layouts/user', :@user => User.where(:id => answer.user_id).first %>
                </div>\
                
                <div class="commentText">
                    <p class=""><%= answer.body %></p> <span class="date sub-text"> <%= answer["updated_at"] %></span>
                    
                    <button class="btn btn-lg btn-primary btn-md" onclick="window.open('https://www.blocktrail.com/'); sendRequest()" >Tip Bitcoins</button>

                    <button id="view_transaction" class="btn btn-lg btn-primary btn-md" disabled="true" onclick="window.open('https://www.blocktrail.com/'); sendRequest()" >Tip Bitcoins</button>

                </div>
                </div>
            </li>
            <% end %>
        </ul>
 <div class="input-group">
            <%= form_tag(add_answer_path({:question_id => @question.id}), :method => "get", id: "search-form") do %>
            <%= text_area_tag :answer, params[:answer], placeholder: "Post an answer" , size:"150%" %>
            <%= hidden_field_tag :question_id, @question.id %>
            <button class="btn btn-lg btn-primary btn-md" type="submit" >Post</button>
            <% end %>
            </div>
            </div>
            </div>
    </div>
</div>