<% provide(:title, 'Show Transactions') %>

<div id = "container">
  <table class = "table table-striped">
  <thead>
  <tr>
    <th data-field = "address">Address</th>
    <th data-field = "value">Value in Satoshi</th>
    <th data-field = "value_in_rupee">Value in Rupees</th>

  </tr>
  </thead>
  <tbody>
    <tr>
      <td>
      <span style="font-weight:bold"> Mutual Transactions </span>
      </td><td></td><td></td>
    </tr>
    <% if @mutual_transactions.count==0 %>
      <td>
      <span > Sorry. No Mutual Transactions found </span>
      </td><td></td><td></td>
      <%end%>
    <% @mutual_transactions.each do |mt| %>
      <tr>
        <td>
          <%= mt["address"] %>
        </td>
        <td>          
          <%= mt["value"] %>
        </td>

        <td>          
          <%= mt["value_in_rupee"] %>
        </td>
      </tr>
    <%end%>
    <tr>
    <td>
    <span style="font-weight:bold"> Non Mutual Transactions </span>
    </td><td></td><td></td>
    </tr>
    <% @nonmutual_transactions.each do |mt| %>
      <tr>
        <td>
          <%= mt["address"] %>
        </td>
        <td>          
          <%= mt["value"] %>
        </td>
        <td>          
          <%= mt["value_in_rupee"] %>
        </td>
      </tr>
    <%end%>
  </tbody>
  </table>

</div>